# App
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL=mysql://user:password@localhost:3306/pokemons
SHADOW_DATABASE_URL=mysql://user:password@localhost:3306/pokemons_shadow

# Auth
ACCESS_TOKEN_SECRET_KEY=your-secret-key-change-in-production
ACCESS_TOKEN_EXPIRATION_TIME=1d
